/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Times New Roman", Georgia,Serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial black", Impact, Times;
  font-weight: bold;
  padding-bottom: 0.1em; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
    font-size: 0.8em;
    color: grey; }

h1 {
  font-size: 4em; }
  h1.sub {
    font-size: 3em;
    color: grey; }

h2 {
  font-size: 3.5em; }
  h2.sub {
    font-size: 2.5em;
    color: grey; }

h3 {
  font-size: 3em; }
  h3.sub {
    font-size: 2em;
    color: grey; }

h4 {
  font-size: 2.5em; }
  h4.sub {
    font-size: 1.5em;
    color: grey; }

h5 {
  font-size: 2em; }
  h5.sub {
    font-size: 1.5em;
    color: grey; }

h6 {
  font-size: 1.5em; }
  h6.sub {
    font-size: 1em;
    color: grey; }

p {
  margin-bottom: 0.5em; }

u {
  text-decoration: underline; }

q, blockquote {
  font-style: italic;
  font-family: cursive,"Times New Roman", Verdana;
  color: Maroon; }

strong {
  font-weight: bold; }

code {
  font-family: Courier;
  background-color: black;
  color: blue; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0; }

kbd {
  font-family: arial;
  font-size: 1em;
  background-color: #DCDCDC;
  font-weight: bold;
  border: solid 1px;
  border-radius: 0.5em;
  padding: 0.3em;
  margin: 1em; }

mark {
  font-family: arial;
  padding: 0 1em; }

del {
  font-family: arial; }

ins {
  font-family: arial;
  font-weight: bold; }

abbr {
  border-bottom: dotted 1px black; }

em {
  font-style: italic; }

.puce {
  list-style-type: upper-alpha; }

.alignerGauche {
  text-align: left; }

.alignerDroite {
  text-align: right; }

.alignerCentre {
  text-align: center; }

.alignerJustify {
  text-align: justify; }

.majuscule {
  text-transform: uppercase; }

.minuscule {
  text-transform: lowercase; }

/**A ajouter: listes , tables; bouton fancy*/
#boutons {
  width: 100%;
  background-color: #F0FFFF;
  text-align: center;
  margin: 0 0 1em 1em;
  padding: 1em 1em 1em 1em;
  border: solid 1px grey; }

.btn, .btn-fancy, .btn-succes, .btn-info, .btn-avertissment, .btn-danger {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: black;
  border: solid 3px black;
  border-radius: 0.3em;
  margin: 2px 0 0 2px;
  display: inline-block;
  padding: 0.5em;
  background-color: #C0C0C0; }
  .btn:hover, .btn-fancy:hover, .btn-succes:hover, .btn-info:hover, .btn-avertissment:hover, .btn-danger:hover {
    background-color: #8FBC8F;
    color: #FFFFFF;
    cursor: pointer; }
  .btn:active, .btn-fancy:active, .btn-succes:active, .btn-info:active, .btn-avertissment:active, .btn-danger:active {
    background-color: #FFFFFF;
    color: #8FBC8F;
    cursor: pointer; }

.btn-lg {
  font-size: 3em; }

.btn-sml {
  font-size: 0.8em; }

.btn-vert, .btn-succes {
  background-color: #008000;
  color: #FFFFFF; }
  .btn-vert:hover, .btn-succes:hover {
    background-color: #90EE90;
    color: #FFFFFF; }
  .btn-vert:active, .btn-succes:active {
    background-color: #FFF0F5;
    color: #008000; }

.btn-mauve {
  background-color: #8470FF;
  color: #FFFFFF; }
  .btn-mauve:hover {
    background-color: #B0C4DE;
    color: #FFFFFF;
    cursor: pointer; }
  .btn-mauve:active {
    background-color: #FFF0F5;
    color: #8470FF;
    cursor: pointer; }

.btn-rouge {
  background-color: #FF4500;
  color: #FF0000; }
  .btn-rouge:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    cursor: pointer; }
  .btn-rouge:active {
    background-color: #FFF0F5;
    color: #FF0000;
    cursor: pointer; }

.btn-extraL {
  width: 100%; }

.btn-flat {
  border: none;
  border-radius: none; }

.btn-fancy {
  background: linear-gradient(to right, grey, rgba(0, 255, 0, 0)); }

.btn-succes {
  width: 100%; }

.btn-info {
  background-color: #1E90FF;
  width: 100%; }
  .btn-info:hover {
    color: #1E90FF;
    background-color: #F0FFF0; }

.btn-avertissment {
  background-color: #FF4500;
  width: 100%; }
  .btn-avertissment:hover {
    color: #FF4500;
    background-color: #F0FFF0; }

.btn-danger {
  background-color: #FF0000;
  width: 100%; }
  .btn-danger:hover {
    color: #FF0000;
    background-color: #F0FFF0; }

.jumbotron {
  margin: 1rem;
  display: inline-block;
  width: 50%;
  background-color: #DCDCDC;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 2rem; }
  .jumbotron h5, .jumbotron p {
    padding: 1rem; }

header {
  text-align: center;
  background-color: #FFEBCD; }
  header h1 {
    color: #FF8C00;
    font-weight: bold; }

ul.navbar {
  /*margin-left: 130px;*/
  border: solid 1px black;
  list-style-type: none;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: space-between; }
  ul.navbar li {
    /*margin:1rem;*/
    font-weight: bold;
    padding: 1rem; }
    ul.navbar li:hover {
      background-color: #1E90FF;
      color: #F0FFFF;
      cursor: pointer; }
    ul.navbar li:active {
      background-color: #F0FFFF;
      color: #1E90FF; }
    ul.navbar li.disabled {
      pointer-events: none;
      opacity: 0.5; }
    ul.navbar li.active {
      pointer-events: none;
      background-color: grey; }

footer {
  text-align: center;
  background-color: #FFEBCD; }

section #contenu {
  border: 1rem solid #A9A9A9;
  border-radius: 1rem;
  margin: 0.5rem; }

section .annonce {
  border: 0.5rem solid #A9A9A9;
  border-radius: 1rem; }

/*@import "header";*/
body {
  display: table;
  width: 100%;
  table-layout: fixed;
  word-spacing: -2em; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  margin-right: 1%;
  margin-left: 1%;
  display: inline-block;
  box-sizing: border-box;
  word-spacing: normal;
  /*overflow: auto;*/ }

.col1 {
  width: 6.33333%; }

.col2 {
  width: 14.66667%; }

.col3 {
  width: 23%; }

.col4 {
  width: 31.33333%; }

.col5 {
  width: 39.66667%; }

.col6 {
  width: 48%; }

.col7 {
  width: 56.33333%; }

.col8 {
  width: 64.66667%; }

.col9 {
  width: 73%; }

.col10 {
  width: 81.33333%; }

.col11 {
  width: 89.66667%; }

.col12 {
  width: 98%; }

.off1 {
  margin-left: 9.33333%; }

.off2 {
  margin-left: 17.66667%; }

.off3 {
  margin-left: 26%; }

.off4 {
  margin-left: 34.33333%; }

.off5 {
  margin-left: 42.66667%; }

.off6 {
  margin-left: 51%; }

.off7 {
  margin-left: 59.33333%; }

.off8 {
  margin-left: 67.66667%; }

.off9 {
  margin-left: 76%; }

.off10 {
  margin-left: 84.33333%; }

.off11 {
  margin-left: 92.66667%; }

body {
  background-color: #FFEBCD;
  font-family: comic; }

header {
  width: 100%;
  position: fixed;
  top: 0; }
  header #logo {
    display: none;
    margin: 1rem 0; }
    header #logo img {
      max-width: 100%;
      height: 100px; }
  header #haut {
    margin: 1rem 0; }
  header #menu {
    margin: 1rem 0; }
    header #menu ul {
      display: inline-block; }
  @media screen and (min-width: 620px) {
    header {
      box-sizing: border-box;
      margin: -0.1rem; }
      header #logos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between; }
        header #logos #logo {
          display: block; }
      header #menu {
        text-align: center; }
        header #menu .navbar {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap; } }

section {
  /*  margin-top: 150px;
    /*min-width:347px;*/
  box-sizing: border-box;
  padding: 1rem 0;
  background-color: white;
  width: 80%;
  margin: 15rem auto 2rem auto;
  border-radius: 1rem;
  text-align: center; }
  section h4 {
    margin: 1rem 0; }
    .champF{
      width:100%;
      margin-bottom: 5px;
    }
  section #newAnnonce {
    margin:1%;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .champForm{
      width:100%;
      margin-bottom: 5px;
    }

    .btn{
      margin-top: 2rem;

    }
    text-align: center; }
    section #newAnnonce input, section #newAnnonce select, section #newAnnonce textarea {
      width: 95%; }
    section #newAnnonce .btn, section #newAnnonce .btn-fancy, section #newAnnonce .btn-succes, section #newAnnonce .btn-info, section #newAnnonce .btn-avertissment, section #newAnnonce .btn-danger {
      margin-top: 2rem; }
    section #newAnnonce form.photoAjout input {
      width: 25%; }
    @media screen and (min-width: 620px) {
      section #newAnnonce {
        width: 70%;
        margin: auto; } }
    @media screen and (min-width: 1200px) {
      section #newAnnonce {
        width: 50%;
        margin: auto; } }
  section .categorie {
    text-align: center;
    margin-bottom: 2rem; }
    section .categorie img {
      height: 4em;
      width: 4em;
      vertical-align: middle;
      display: none; }
      @media screen and (min-width: 620px) {
        section .categorie img {
          display: inline-block; } }
    section .categorie a {
      vertical-align: middle; }
    @media screen and (min-width: 620px) {
      section .categorie {
        display: inline-block;
        box-sizing: border-box;
        width: 50%;
        margin-left: -1rem; } }
    @media screen and (min-width: 1200px) {
      section .categorie {
        display: inline-block;
        box-sizing: border-box;
        width: 20%; } }
  section .annonce {
    margin: 1%;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    /*.contenu,img{
      display: inline-block;
      border-radius: 1rem 0 0 0;
      vertical-align: top;
      box-sizing: border-box;
      width:50%;
      margin:-0.1rem;
    }

    .contenu{
      padding-left: 0.5rem;
      &>p.description{
        display:none;
        @media screen and (min-width:620px){
          display:inline-block;
        }
      }
    }*/ }
    @media screen and (min-width: 620px) {
      section .annonce .contenu, section .annonce img {
        display: inline-block;
        border-radius: 1rem 0 0 0;
        vertical-align: top;
        width: 50%;
        margin: -0.1rem; } }
    @media screen and (min-width: 1200px) {
      section .annonce {
        display: inline-block;
        width: 32%;
        margin: -0.1rem; } }
  section #photo {
    width: 80%;
    text-align: center;
    margin: 0 auto 1rem auto; }
    section #photo img {
      display: block;
      margin: auto;
      margin-bottom: 0.5rem; }
    @media screen and (min-width: 1200px) {
      section #photo {
        text-align: none; }
        section #photo img {
          display: inline-block;
          margin: -0.1rem; } }
  section #contenu {
    width: 80%;
    text-align: center;
    margin: 0 auto 1rem auto; }
  section #gestion {
    margin: 0.5rem; }
    section #gestion .btn, section #gestion .btn-fancy, section #gestion .btn-succes, section #gestion .btn-info, section #gestion .btn-avertissment, section #gestion .btn-danger {
      width: 100%; }
      @media screen and (min-width: 1200px) {
        section #gestion .btn, section #gestion .btn-fancy, section #gestion .btn-succes, section #gestion .btn-info, section #gestion .btn-avertissment, section #gestion .btn-danger {
          width: 33%;
          margin: -0.1rem; } }

#recherche .recherche {
  text-align: center; }
  #recherche .recherche input, #recherche .recherche select {
    width: 95%; }
  #recherche .recherche .btn, #recherche .recherche .btn-fancy, #recherche .recherche .btn-succes, #recherche .recherche .btn-info, #recherche .recherche .btn-avertissment, #recherche .recherche .btn-danger {
    margin-top: 2rem; }
  @media screen and (min-width: 620px) {
    #recherche .recherche {
      width: 70%;
      margin: auto; } }
  @media screen and (min-width: 1200px) {
    #recherche .recherche {
      width: 50%;
      margin: auto; } }

#liste {
  text-align: center; }
  #liste h4 {
    text-align: center; }

form.login {
  text-align: center; }
  form.login input {
    width: 95%;
    margin-bottom: 1rem; }
  @media screen and (min-width: 620px) {
    form.login {
      width: 70%;
      margin: auto; } }
  @media screen and (min-width: 1200px) {
    form.login {
      width: 50%;
      margin: auto; } }

footer {
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%; }

/*# sourceMappingURL=framework.css.map */
