<section>
  {% if ajout != '' %}
  <div class="col10 btn-succes">Annonce {{ ajout }} déposée avec succès.</div>
  {% endif %}
  {% if envoi != '' %}
  <div class="col10 btn-info">On a bien reçcu votre courriel. Merci.</div>
  {% endif %}
  <h4 class="sub">Accueil</h4>

  {% for annonce in annonces %}
    <div class="annonce">
      <div class="contenu">
        <p><strong>Titre:  </strong>{{ annonce.titre }}


             </p>
        <div id="description">
          <p><strong>Description:</strong></p>
          <p>{{ annonce.description }}</p>
        </div>
        <p><strong>type:</strong><em>{{ annonce.type }}</em></p>
        <p><strong>mode:</strong><em>{{ annonce.mode }}</em></p>
        <p><strong>prix:</strong><em>{{ annonce.prix }}</em></p>
        <p><strong>Lieu:</strong><em>{{ annonce.ville }}  {{ annonce.quartier }}</em></p>

        <p><strong>Date:</strong><em>{{ annonce.date }}</em></p>
        <form method="post" action="contact">
          <input type="hidden" value="{{ annonce.id }}" name="id" />

          <button class="btn-fancy" type="submit">Nous Contacter</button>
        </form>
      </div>
    </div>
  {% endfor %}

</section>
