<section >

  <h4 class="sub">Contact</h4>

  <form id="newAnnonce" method="post" action="envoyer">

    <input class="champF" type="email" name="mail" placeholder="Courriel" required/>

    <input class="champF" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" name="tel" placeholder="N° Téléphone" required/>


    <input class="champF" type="text" name="objet" placeholder="Objet" required/>

    <textarea class="champF" name="body" style="resize:none;" rows="10"  placeholder="Demande" required></textarea>

    <input type="hidden" value="{{ id }}" name ="id"/>
    <button type="submit" class="btn">Envoyer</button>

  </form>
</section>
