<section >

  {% if ajout != '' %}
  <div class="col10 btn-avertissment">Erreur lors du dépot !!</div>
  {% endif %}

  <h4 class="sub">Nouvelle annonce</h4>

  <form id="newAnnonce" method="post" action="ajouter">

    <input class="champF" type="text" name="titre" placeholder="Titre" required/>
    <textarea class="champF" name="description"  style="resize:none;" rows="10" placeholder="Description" required></textarea>
    <select class="champF" name="mode"required>
      <option value="">--Loc/Vente--</option>
      {% for mode in modes %}
      <option value="{{ mode.id }}">{{ mode.modename }}</option>
      {% endfor %}
    </select>

  <select class="champF" name="type" required>
      <option value="">--Types--</option>
      {% for type in types %}
      <option value="{{ type.id }}">{{ type.typename }}</option>
      {% endfor %}
    </select>

     <input class="champF" type="number" min="0" name="prix" placeholder="Prix" required/>
     <input class="champF" type="number" min="1" name="nb" placeholder="Nombre de pièces" required/>



     <select name="ville"required class="champF">
      <option value="">--Ville--</option>
      {% for ville in villes %}
      <option value="{{ ville.id }}">{{ ville.villename }}</option>
      {% endfor %}
    </select>
    <select name="quartier"required>
     <option value="">--Quartier--</option>
     {% for quartier in quartiers %}
     <option value="{{ quartier.id }}">{{ quartier.quartiername }}</option>
     {% endfor %}
   </select>

    <button type="submit" class="btn">Ajouter</button>

  </form>
</section>
