<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accueil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">

    <link rel="stylesheet" href="css/style.css">

</head>

<body class="col12">

  <header class="col12">
    <div id="logos">
      <div id="logo">
        <img src="../public/images/rlogo.png" alt="logo">
  		</div>

  			<div id="haut">
  				<a href="#"><img src="../public/images/login.png" /></a>
  			</div>
    </div>
  			<div id="menu">
  				<ul class="navbar">
  					<li><a href="accueil">Accueil</a></li>
  					<li><a href="recherche">Rechercher</a></li>
  					<li><a href="depot">Dépôt</a></li>
  				</ul>
  			</div>

  	</header>
