<section id="recherche">
    <h4 class="sub">Recherche</h4>
    <form class="recherche" method="post" action="resultats">
      <input class="champF" type="text" name="titre" placeholder="<Mots clés>" >

      <select class="champF" name="mode">
      	<option value="">--Loc/Vente--</option>
        {% for mode in modes %}
        <option value="{{ mode.id }}">{{ mode.modename }}</option>
        {% endfor %}
      </select>

	  <select class="champF" name="type">
      	<option value="">--Types--</option>
        {% for type in types %}
        <option value="{{ type.id }}">{{ type.typename }}</option>
        {% endfor %}
      </select>

       <input class="champF" type="number" min="0" name="prix" placeholder="<Prix Max>">

       <select class="champF" name="ville">
        <option value="">--Ville--</option>
        {% for ville in villes %}
        <option value="{{ ville.id }}">{{ ville.villename }}</option>
        {% endfor %}
      </select>

      <button class="btn" type="submit">Chercher</button>
    </form>


    {% for annonce in annonces %}
      <div class="annonce">
        <div class="contenu">
          <p><strong>Titre:  </strong>{{ annonce.titre }}


               </p>
          <div id="description">
            <p><strong>Description:</strong></p>
            <p>{{ annonce.description }}</p>
          </div>
          <p><strong>type:</strong><em>{{ annonce.type }}</em></p>
          <p><strong>mode:</strong><em>{{ annonce.mode }}</em></p>
          <p><strong>prix:</strong><em>{{ annonce.prix }}</em></p>
          <p><strong>Lieu:</strong><em>{{ annonce.ville }}  {{ annonce.quartier }}</em></p>

          <p><strong>Date:</strong><em>{{ annonce.date }}</em></p>
          <form method="post" action="contact">
            <input type="hidden" value="{{ annonce.id }}" name="id" />

            <button class="btn-fancy" type="submit">Nous Contacter</button>
          </form>
        </div>
      </div>
    {% endfor %}
	</section>
